@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
	font-family: "Logik-Wide";
	src: url("../assets/font/Logik-Wide.ttf");
}

@font-face {
	font-family: "Logik-WideBlack";
	src: url("../assets/font/Logik-WideBlack.ttf");
}

@font-face {
	font-family: "Logik-WideBold";
	src: url("../assets/font/Logik-WideBold.ttf");
}

.react-calendar__tile:disabled {
	background-color: #3f3f3f !important;
	color: white;
}

