@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Logik-Wide";
	src: url("../assets/font/Logik-Wide.ttf");
}

@font-face {
	font-family: "Logik-WideBlack";
	src: url("../assets/font/Logik-WideBlack.ttf");
}

@font-face {
	font-family: "Logik-WideBold";
	src: url("../assets/font/Logik-WideBold.ttf");
}

